body{
    font-family: 'Poppins', sans-serif;
}


.header-nav{
    font-weight: 700;
font-size: 24px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
}
ul{
    display: flex;
    gap: 34px;
}

.start-container{
    display: flex;
    justify-content: space-between;
}
.title{
    margin-top: 285px;
    margin-left: 120px;
}
.banner-image{
    margin-top: 211px;
    margin-left: 133px;
    margin-right: 165px;
    background: url(./images/Circle\ design.svg);
}
.head{
    font-weight: 700;
font-size: 52px;
line-height: 70px;
margin-bottom: 16px;
}
button{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 196px;
    height: 44px;
    border: 0px;
    background: #E02C6D;
    border-radius: 41px;
    position: absolute;
}
.brand-logo{
    
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        #93a8a8,
        rgba(255, 255, 255, 0)
      )
      1;
    padding: 20px;
}
.company-logos{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: center;
}

/* --------------------
popular Collection
---------------------*/

.popular-collection{
    align-items: center;
}
.imagess{
    width: 329px;
    left: 196px;
    top: 1035px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
border-radius: 5px;
}


.popular-collection{
    background-color: #FFFFFF;
    width: 1047px;
    align-items: center;
    justify-content: center;
    margin-left: 496px;
}
.popularh{
    text-align: center;
}
.pro-title{
    font-weight: 500px;
font-size: 28px;
line-height: 40px;
font-feature-settings: 'liga' off;
color: #18191F;
}
.price{
    font-weight: 400;
font-size: 24px;
line-height: 150%;
}
.stars {
    color: #FB8200;
}

.details{
    font-weight: 700;
font-size: 14px;
line-height: 143%;
/* or 20px */

display: flex;
align-items: center;
letter-spacing: 0.018em;

/* Gray / 50 */

color: #787885;
}
.collection-photo{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Feature */

.feature{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature-details{
    margin-left: 96px;
}
.fp{
    font-weight: 700;
font-size: 16px;
line-height: 28px;
/* or 175% */


color: #6C6C6C;
}

footer{
    height: 200px;
    background-color: #0A0826;
    align-items: center;
    justify-content: center;
}
.footer-item{
    padding-top: 20px;
    text-align: center;
    
}
.ft{
    font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height */

font-feature-settings: 'liga' off;

color: #FFFFFF;
}
.ftp{
    color: white;
}